{% extends 'base.html.twig' %}

{% block title %}Résultat des expériences {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1> Expérience n° {{resume.id}} </h1>

<p> Nous avons simuler une épidémie avec les paramètres suivants pour l'utilisateur {{resume.idexp}} </p>
<p> &Beta; = {{resume.r0}} , &Pi; = {{resume.pi}} , &Mu; = {{resume.mu}} , %0 d'infecté : {{resume.i0}} </p>


{% endblock %}