{% extends 'base.html.twig' %}
{% form_theme formExp 'bootstrap_4_layout.html.twig' %}
{% block title %} Expérience en cours ...{% endblock %}


{% block body %}

{% if temps < 0.2 %}

  <p> Bienvenue, nous sommes le premier jour d'une horrible épidémie, nous ne savons pas encore combien d'infectés sont parmi la population de 10 000 dans chaque région et âge  </p>

{% else %}
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Compte-rendu de la Veille : 
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre d'infectés chez les jeunes dans Région 1 : {{etat_avant.p1}}</li>
      <li class="list-group-item">Nombre d'infectés chez les personnes âgées dans Région 1 : {{etat_avant.p2}}</li>
      <li class="list-group-item">Nombre d'infectés chez les jeunes dans Région 2 : {{etat_avant.p3}}</li>
      <li class="list-group-item">Nombre d'infectés chez les personnes âgées dans Région 2 : {{etat_avant.p4}}</li>
    </ul>
  </div>
{% endif %}


  <style>
      .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
      .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <h1> Voilà le panneau à partir duquel vous allez pouvoir gérer comme bon vous semble la répartition des tests entre les deux départements et les deux âges </h1>
  <p> Vous allez enregistrer votre décision puis nous avancerons de 1 jour dans l'épidémie et vous allez avoir accés aux résulatts des tests que vous avez permis </p>


  {{form_start(formExp)}}

  <div class="" style="">
    <div name="form" >
      <label>Répartition entre les deux départements</label>
      {{form_widget(formExp.Test11)}}
    </div>
    <div name="form">
      <label>Répartition entre la population jeune et vieille dans le premier département :</label>
      {{form_widget(formExp.Test12)}}
    </div>
    <div name="form">
      <label>Répartition entre la population jeune et vieille dans le second département :</label>
      {{form_widget(formExp.Test21)}}
    </div>
    <button type='submit'> Enregistrer ma décision !</button>
  </div>
{{form_end(formExp)}}

{% endblock %}