{% extends 'base.html.twig' %}
{% form_theme formExp 'bootstrap_4_layout.html.twig' %}
{% block title %} Expérience en cours ...{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/bar_chart_scipt.js') }}"></script>

{% endblock %}

{% block head %}

{% endblock %}
{% block body %}

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"> Jour {{etat_avant.T}} </h5>
  </div>
</div>
  <style>
      .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
      .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

<div class="card text-center">
  <div class="card-header">
    Panneau de contrôle 
  </div>
  <div class="card-body">
    <h5 class="card-title">Description : </h5>
    <p class="card-text">Ce panneau de contrôle vous permet de répartir les test parmi les différentes populations de vos villes </p>
  </div>
</div>


<div class='control-pannel'>
  <div class='container' style=' align-items: center; '>
    <div class='row align-items-center'>
      
      <div class='col-5'> {# panneau de droite pour décision #}
        <h5 style='text-align: center;'> Gestion des des tests en fonction de la région et de la population </h5>
        {{form_start(formExp)}}
        {{form_widget(formExp.Test11)}}
        <div class='row' style='padding: 5px ; '>
          <div class='col-2'>
            <div style=''>
              {{form_widget(formExp.Test12)}}
            </div>
          </div>
          <div class='col-4' style='align-items: center;'>
            <div class='card'>
              <div class='card-body'>
                Région 1 : Population Jeune
              </div>
            </div>
            <div class='card'>
              <div class='card-body'>
                Région 1 : Population Âgée
              </div>
            </div>
          </div>
          <div class='col-4' style='align-items: center;'>
            <div class='card'>
              <div class='card-body'>
                Région 2 : Population Jeune
              </div>
            </div>
            <div class='card'>
              <div class='card-body'>
                Région 2 : Population Âgée
              </div>
            </div>
          </div>
          <div class='col-2'>
            <div style=''>
              {{form_widget(formExp.Test21)}}
            </div>
          </div>
        </div>
        <div class='container' style='align-items: center;justify-content: center ; width: 100% ;'>
          <button type='submit' style='width: 100%; padding: 5px ;'> Confirmer </button>
          {{form_end(formExp)}}
        </div>
      </div>
      
      
      





      <div class='col-7'> {# panneau de droite pour décision #}
        <div class='container' style=''>
          <div class='row'>
            <div class='col-6'>
              <div class='card' style =''>
                <h5 class="card-title"> Région 1 : Population Jeune </h5>
                <div class='container' style='display: flex'>
                  <div class='container' style='width: 80%;display: flex;align-items: center;justify-content: center;'>
                    <ul class="list-group list-group-flush" >
                      <li class="list-group-item"> Population : 10 000 </li>
                      <li class="list-group-item"> Taux de positivité : {{positivite1}} </li>
                      <li class="list-group-item"> Nombre de cas cumulé(s) : {{cas_cumule1}}</li>
                      <li class="list-group-item"> Nouveau cas détecté(s) : {{newP1}} </li>
                      <li class="list-group-item"> Nombre de test la veille : {{ testhier1 }}</li>
                            {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                      {% if acc %}
                      <li class="list-group-item"> Indice d'accélération : {{acc1}}</li>
                      {% endif %}
                    </ul>
                  </div>
                  <svg>
                    <rect width='20%' height='50%' id='rectangle1' id='rect1'/>
                  </svg>
                </div>
              </div>
              <div class='card'>
                <h5 class="card-title"> Région 1 : Population Âgée </h5>
                <div class='container' style='display: flex'>
                  <div class='container' style='width: 80%;display: flex;align-items: center;justify-content: center;'>
                    <ul class="list-group list-group-flush" >
                      <li class="list-group-item"> Population : 10 000 </li>
                      <li class="list-group-item"> Taux de positivité : {{positivite2}} </li>
                      <li class="list-group-item"> Nombre de cas cumulé(s) : {{cas_cumule2}}</li>
                      <li class="list-group-item"> Nouveau cas détecté(s) : {{newP2}} </li>
                      <li class="list-group-item"> Nombre de test la veille : {{ testhier2 }}</li>
                            {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                      {% if acc %}
                      <li class="list-group-item"> Indice d'accélération : {{acc2}}</li>
                      {% endif %}
                    </ul>
                  </div>
                  <svg>
                  <rect width='20%' height='50%' id='rect2' />
                  </svg>
                </div>
              </div>
            </div>
            <div class='col-6'>
              <div class='card'>
                <h5 class="card-title"> Région 2 : Population Jeune </h5>
                <div class='container' style='display: flex'>
                  <div class='container' style='width: 80%;display: flex;align-items: center;justify-content: center;'>
                    <ul class="list-group list-group-flush" >
                      <li class="list-group-item"> Population : 10 000 </li>
                      <li class="list-group-item"> Taux de positivité : {{positivite3}} </li>
                      <li class="list-group-item"> Nombre de cas cumulé(s) : {{cas_cumule3}}</li>
                      <li class="list-group-item"> Nouveau cas détecté(s) : {{newP3}} </li>
                      <li class="list-group-item"> Nombre de test la veille : {{ testhier3 }}</li>
                            {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                      {% if acc %}
                      <li class="list-group-item"> Indice d'accélération : {{acc3}}</li>
                      {% endif %}
                    </ul>
                  </div>
                  <svg>
                  <rect width='20%' height='50%' id='rect3' />
                  </svg>
                </div>
              </div>
              <div class='card' style=''>
                <h5 class="card-title"> Région 2 : Population Âgée </h5>
                <div class='container' style='display: flex'>
                  <div class='container' style='width: 80%;display: flex;align-items: center;justify-content: center;'>
                    <ul class="list-group list-group-flush" >
                      <li class="list-group-item"> Population : 10 000 </li>
                      <li class="list-group-item"> Taux de positivité : {{positivite4}} </li>
                      <li class="list-group-item"> Nombre de cas cumulé(s) : {{cas_cumule4}}</li>
                      <li class="list-group-item"> Nouveau cas détecté(s) : {{newP4}} </li>
                      <li class="list-group-item"> Nombre de test la veille : {{ testhier4 }}</li>
                            {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                      {% if acc %}
                      <li class="list-group-item"> Indice d'accélération : {{acc4}}</li>
                      {% endif %}
                    </ul>
                  </div>
                  <svg>
                  <rect width='20%' height='50%' id='rect4' />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

// On initialise les sélection des élèments car ceux ci seront permanents 
rect1 = document.getElementById('rectangle1');
rect2 = document.getElementById('rect2');
rect3 = document.getElementById('rect3');
rect4 = document.getElementById('rect4');


sliderregions = document.getElementById('form_Test11');
sliderregion1 = document.getElementById('form_Test12');
sliderregion2 = document.getElementById('form_Test21');

sliderregions.onchange = function actualisationvalue (event){
    console.log('des trucs ont changé non ? ')
    sliderregions = document.getElementById('form_Test11');

    // on récupère la valeur de chaque slider 
    valueregions = sliderregions.value ;
    valueregion1 = sliderregion1.value;
    valueregion2 = sliderregion2.value;


    // On calcule ce que ce la représente pour les rectangles 
    region11 = (100- valueregions) * valueregion1 / 10000;
    region12 = (100- valueregions) *(100- valueregion1)/ 10000;
    region21 = valueregions * valueregion2 / 10000;
    region22 = valueregions * (100-valueregion2) / 10000;

    console.log(region11);
    console.log(region12);
    console.log(region21);
    console.log(region22);

    console.log(rect1);
    console.log(rect2);
    console.log(rect3);
    console.log(rect4);

    region11 = String.valueOf(double region11 );
    region11 = String.valueOf(double region12 );
    region11 = String.valueOf(double region21 );
    region11 = String.valueOf(double region22 );

    rect1.style.height = region11 + '%' ; 
    rect2.style.height = region12 + '%' ; 
    rect3.style.height = region21 + '%' ; 
    rect4.style.height = region22 + '%' ; 
}
</script>

{% endblock %}