{% extends 'base.html.twig' %}
{% form_theme formExp 'bootstrap_4_layout.html.twig' %}
{% block title %} Expérience en cours ...{% endblock %}


{% block body %}
  <style>
      .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
      .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <h1> Voilà le panneau à partir duquel vous allez pouvoir gérer comme bon vous semble la répartition des tests entre les deux départements et les deux âges </h1>
  <p> Vous allez enregistrer votre décision puis nous avancerons de 1 jour dans l'épidémie et vous allez avoir accés aux résulatts des tests que vous avez permis </p>

<p> Pour le moment les seules informations qu'un virus inconnu a été détecté dans la population de votre région </p>

  {{form_start(formExp)}}
  <div name="form">
    <label>Répartition entre les deux départements</label>
    {{form_widget(formExp.Test11)}}
  </div>
  <div name="form">
    <label>Répartition entre la population jeune et vieille dans le premier département :</label>
    {{form_widget(formExp.Test12)}}
  </div>
  <div name="form">
    <label>Répartition entre la population jeune et vieille dans le second département :</label>
    {{form_widget(formExp.Test21)}}
  </div>

{{form_end(formExp)}}

{% endblock %}