{% extends 'base.html.twig' %}

{% block title %} Expérience en cours  {% endblock %}
{% block stylesheet %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/helpers.esm.min.js" integrity="sha512-6bJ9T7vca48dxyvajHG+YUYP1Bn7map/S+9aC338LmI3Cw6B6uUZjvQxZaCNdZ07wBtQ0UjO+WxIk/l4oT76ew==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../public/css/style_exp_test.scss" />
{% endblock %}
{% block body %}

<div class="row justify-content-around">
    <div id='control-panel'  class="col-sm-12 col-md-4 " >
        <div class='col-12' style=''>
            <h3> Répartition des tests - Jour {{ temps }} </h3>
        </div>
        
        <div id='arbre-haut'  class="row justify-content-center" style='padding-top: 15px;'>
            
                <div class='col-3'>
                    <h4>Région A</h4>
                </div>   
                <div class='col-6'>
                    {{form_start(formExp)}}
                    <div id='autour_form' style='
                        height:20px;
                        border-radius: 5px;
                        background: linear-gradient(90deg, #e6e696 50%, #d5ab9c 50%);
                        background-size: 100% 100%;'>
                        {{form_widget(formExp.Test11)}} 
                    </div>
                </div>  
                <div class='col-3'>
                    <h4>Région B</h4>
                </div>       
        </div>
        <div id='arbre-bas' class='column' style="padding : 25px;">
            <div class="row" id="inputs" style=''>
                <div class="col-6 justify-content-center" id='input1' style="background-color:#e6e696;">
                    <div class="row justify-content-center">
                        <h4>Région A</h4>
                    </div>
                    <div class="row justify-content-center">
                        <h6> Y </h6>
                        <div style=";">
                            {{form_widget(formExp.Test12)}} 
                        </div>
                        <h6> Z </h6>
                    </div>
                </div>
                <div class="col-6 justify-content-center" id="input2" style='background-color:#d5ab9c'>
                    <div class="row justify-content-center">
                        <h4>Région B</h4>
                    </div>
                    <div class="row justify-content-center">
                        <h6> Y </h6>
                        <div style=";">
                            {{form_widget(formExp.Test21)}} 
                        </div>
                        <h6> Z </h6>
                    </div>
                </div>
            </div>
        </div>

        <div id='rectangles' class='row justify-content-center' style='padding-right: 25px; padding-left: 25px;'>
            <div id='area1'  style='flex-direction: column;' class='col-3 justify-content-center'>
                <p id='percent1'> 25 % </p>
                <div id='rect1' style='width: 75% ; height: 100px; 
                    background-color: white;
                    opacity: 0.8;
                    background-image: radial-gradient(#e6e696 3px, white 3px);
                    background-size: 10px 10px;'>
                </div>
                <h5> Région A - Y </h5>
            </div>
            <div id='area2' style='flex-direction: column;' class='col-3 justify-content-center'>
                <p id='percent2'> 25 % </p>
                <div id='rect2' style='width: 75% ; height: 100px; 
                    background: linear-gradient(0deg, white 50%, #e6e696 50%);
                    background-size: 10px 10px;'>
                </div>
                <h5> Région A - Z </h5>
            </div>
            <div id='area3' style='flex-direction: column;' class='col-3 justify-content-center'>
                <p id='percent3'> 25 % </p>
                <div id='rect3' style='width: 75% ; height: 100px; 
                    background-color: white;
                    opacity: 0.8;
                    background-image: radial-gradient(#d5ab9c 3px, white 3px);
                    background-size: 10px 10px;'>
                </div>
                <h5> Région B - Y </h5>
            </div>
            <div id='area4' style='flex-direction: column;' class='col-3 justify-content-center'>
                <p id='percent4'> 25 % </p>
                <div id='rect4' style='width: 75% ; height: 100px; 
                    background: linear-gradient(0deg, white 50%, #d5ab9c 50%);
                    background-size: 10px 10px;'>
                </div>
                <h5> Région B - Z </h5>
            </div>
        </div>
        <div id='button-submit' class="row justify-content-center" style="padding-top: 100px;">
            <button type='submit' class="btn btn-primary" > Soumettre</button>
        </div>
                {{form_end(formExp)}}
    </div>
    
    <div id='col1-display' class="col-sm-12 col-md-4 1">
        <div class='col-12 justify-content-center'>
            <h3> {% if temps %}Résultats du Jour {{ temps - 1 }} {% else %} Résultats des tests {% endif %}</h3>
        </div>
        <div class="card" style='margin:2px;'>
            <div class="card-header" style="
                font-size:1.5em;
                background-color: white;
                opacity: 0.8;
                background-image: radial-gradient(#e6e696 3px, white 3px);
                background-size: 10px 10px;">
                <b>Région A - Y </b>
            </div>
            <ul class="list-group list-group-flush"  >
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'>  
                            <p style='font-size: 1.1em'>
                                Test(s):
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                            {{ testhier1 }} {% if evo_test1 %} ⬈ {% elseif evo_test1 == false %} ⬊ {% endif %} (Total {{testcumule1}})
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'> 
                            <p style='font-size: 1.1em'>
                                Cas positif(s) : 
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                               {{newP1}} {% if evo_positif1 %} ⬈ {% elseif evo_positif1 == false %} ⬊ {% endif %} (Total {{cas_cumule1}})
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'> 
                            <p style='font-size: 1.1em; '> 
                                Taux de positivité : 
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                                {{positivite1 * 100 }} % {% if evo_pos1 %} ⬈ {% elseif evo_pos1 == false %} ⬊ {% endif %} 
                            </p>
                        </li>
                                {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                        {% if acc %}
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'>  
                            <p style='font-size: 1.1em'>
                                Accélération: 
                            <p style='font-size: 2.4em;font-weight: bold;'>
                                {{acc2}}
                            <p>
                        </li>
                        {% endif %}
                </ul>
            
        </div>
        <div class="card" style='margin:2px;'>
            <div class="card-header" style="
                ;
                font-size:1.5em;
                background: linear-gradient(0deg, white 50%, #e6e696 50%);
                background-size: 10px 10px;">
                <b>Région A - Z </b>
            </div>
            <ul class="list-group list-group-flush" >
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'>  
                            <p style='font-size: 1.1em'>
                                Test(s):
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                            {{ testhier2 }} {% if evo_test2 %} ⬈ {% elseif evo_test2 == false %} ⬊ {% endif %} (Total {{testcumule2}})
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'> 
                            <p style='font-size: 1.1em'>
                                Cas positif(s) : 
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                               {{newP2}} {% if evo_positif2 %} ⬈ {% elseif evo_positif2 == false %} ⬊ {% endif %} (Total {{cas_cumule2}}) 
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'> 
                            <p style='font-size: 1.1em; '> 
                                Taux de positivité : 
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                                {{positivite2 * 100 }} %  {% if evo_pos2 %} ⬈ {% elseif evo_pos2 == false %} ⬊ {% endif %} 
                            </p>
                        </li>
                                {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                        {% if acc %}
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'>  
                            <p style='font-size: 1.1em'>
                                Accélération: 
                            <p style='font-size: 2.4em;font-weight: bold;'>
                                {{acc2}}
                            <p>
                        </li>
                        {% endif %}
                </ul>
        </div>
    </div>
    <div id='col2-display' class="col-sm-12 col-md-4" style="flex-direction: column;align-items: space-around;">
        <div class='col-12  justify-content-center'>
            <h3 style='opacity:0;'> Aveyronvictor  </h3>
        </div>
        <div class="card" style='margin:2px;'>
            <div class="card-header" style="
                ;
                font-size:1.5em;
                background-color: white;
                opacity: 0.8;
                background-image: radial-gradient(#d5ab9c 3px, white 3px);
                background-size: 10px 10px;">
                <b>Région B - Y</b> 
            </div>
            <ul class="list-group list-group-flush" >
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;justify-content: space-between;'>  
                            <p style='font-size: 1.1em'>
                                Test(s) :
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                            {{ testhier3 }} {% if evo_test3 %} ⬈ {% elseif evo_test3 == false %} ⬊ {% endif %} (Total {{testcumule3}})
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'> 
                            <p style='font-size: 1.1em'>
                                Cas positif(s) : 
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                               {{newP3}} {% if evo_positif3 %} ⬈ {% elseif evo_positif3 == false %} ⬊ {% endif %} (Total {{cas_cumule3}})
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'> 
                            <p style='font-size: 1.1em; '> 
                                Taux de positivité : 
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                                {{positivite3 * 100 }} %  {% if evo_pos3 %} ⬈ {% elseif evo_pos3 == false %} ⬊ {% endif %} 
                            </p>
                        </li>
                                {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                        {% if acc %}
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'>  
                            <p style='font-size: 1.1em'>
                                Accélération: 
                            <p style='font-size: 2.4em;font-weight: bold;'>
                                {{acc3}}
                            <p>
                        </li>
                        {% endif %}
                </ul>
        </div>
        <div class="card" style='margin:2px;'>
            <div class="card-header" style="
                    ;
                    font-size:1.5em;
                    background: linear-gradient(0deg, white 50%, #d5ab9c 50%);
                    background-size: 10px 10px;">
                <b>Région B - Z </b>
            </div>
            <ul class="list-group list-group-flush" >
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'>  
                            <p style='font-size: 1.1em'>
                                Test(s):
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                            {{ testhier4 }} {% if evo_test4 %} ⬈ {% elseif evo_test4 == false %} ⬊ {% endif %} (Total {{testcumule4}})
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'> 
                            <p style='font-size: 1.1em'>
                                Cas positif(s) : 
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                               {{newP4}} {% if evo_positif4 %} ⬈ {% elseif evo_positif4 == false %} ⬊ {% endif %} (Total {{cas_cumule4}}) 
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'> 
                            <p style='font-size: 1.1em; '> 
                                Taux de positivité : 
                            </p>
                            <p style='font-size: 2.4em;font-weight: bold;'>
                                {{positivite4 * 100 }} %  {% if evo_pos4 %} ⬈ {% elseif evo_pos4 == false %} ⬊ {% endif %} 
                            </p>
                        </li>
                                {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                        {% if acc %}
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.8em;justify-content: space-between;'>  
                            <p style='font-size: 1.1em'>
                                Accélération: 
                            <p style='font-size: 2.4em;font-weight: bold;'>
                                {{acc4}}
                            <p>
                        </li>
                        {% endif %}
                </ul>
            </div>
    </div>
    <div id='instruction_bouton' style='position: absolute;top: 2%;right: 5%; '> {#  ajuster en haut à droite  #}
        <button type="button" class="btn btn-primary" href="#">Instruction </button>
    </div>
</div>



{% endblock %}

{% block script %} 
<script>

  // On initialise les sélection des élèments car ceux ci seront permanents 
  rect1 = document.getElementById('rect1');
  rect2 = document.getElementById('rect2');
  rect3 = document.getElementById('rect3');
  rect4 = document.getElementById('rect4');
  pourcent1 = document.getElementById('percent1');
  pourcent2 = document.getElementById('percent2');
  pourcent3 = document.getElementById('percent3');
  pourcent4 = document.getElementById('percent4');

  sliderregions = document.getElementById('form_Test11');
  sliderregion1 = document.getElementById('form_Test12');
  sliderregion2 = document.getElementById('form_Test21');

  
  function actualisationvalue (event){
      sliderregions = document.getElementById('form_Test11');

      // on récupère la valeur de chaque slider 
      valueregions = sliderregions.value ;
      valueregion1 = sliderregion1.value;
      valueregion2 = sliderregion2.value;


      // On calcule ce que ce la représente pour les rectangles 
      region11 = (100- valueregions) * (100-valueregion1) / 10000;
      region12 = (100- valueregions) *valueregion1/ 10000;
      region21 = valueregions * (100-valueregion2)/ 10000;
      region22 = valueregions * valueregion2 / 10000;

      rect1.style.height = (Math.round(region11*100)*2.5).toString() + 'px' ; 
      rect2.style.height = (Math.round(region12*100)*2.5).toString() + 'px' ; 
      rect3.style.height = (Math.round(region21*100)*2.5).toString() + 'px' ; 
      rect4.style.height = (Math.round(region22*100)*2.5).toString() + 'px' ; 

      region11 = (Math.round(region11*100)).toString();
      region12 = (Math.round(region12*100)).toString();
      region21 = (Math.round(region21*100)).toString();
      region22 = (Math.round(region22*100)).toString();

      

      pourcent1.innerHTML = region11 + '%' ;
      pourcent2.innerHTML = region12 + '%' ;
      pourcent3.innerHTML = region21 + '%' ;
      pourcent4.innerHTML = region22 + '%' ;

      porportion_visuel_region1 = valueregions.toString() ;
      porportion_visuel_region2 = (100 - valueregions).toString() ;
      
      visuel = document.getElementById('autour_form');
      styles = "linear-gradient(90deg, #d5ab9c "+porportion_visuel_region1+"%, #e6e696 "+ porportion_visuel_region2+"%);";
      console.log(styles);
      visuel.style.background = styles;
  }

  sliderregions.onchange = actualisationvalue ;
  sliderregion1.onchange = actualisationvalue ; 
  sliderregion2.onchange = actualisationvalue ; 
</script>

{% endblock %}