{% extends 'base.html.twig' %}

{% block title %} Expérience en cours  {% endblock %}
{% block stylesheet %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/helpers.esm.min.js" integrity="sha512-6bJ9T7vca48dxyvajHG+YUYP1Bn7map/S+9aC338LmI3Cw6B6uUZjvQxZaCNdZ07wBtQ0UjO+WxIk/l4oT76ew==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../public/css/style_exp_test.scss" />
{% endblock %}
{% block body %}


<div class="row justify-content-around">
    <div id='control-panel'  class="col-sm-12 col-md-4 " >
        <h3> Répartition des tests - Jour {{ temps }} et Résultats du Jour {{ temps - 1 }}</h3>
        <div id='arbre-haut'  class="row justify-content-center" style='padding-top: 15px;'>
            
                <div class='col-3'>
                    <h4>Région A</h4>
                </div>   
                <div class='col-6'>
                    {{form_start(formExp)}}
                    {{form_widget(formExp.Test11)}} 
                </div>  
                <div class='col-3'>
                    <h4>Région B</h4>
                </div>       
        </div>
        <div id='arbre-bas' class='column' style="padding : 10px;">

            <div class="row" id="inputs" style='background-color:#e6e696'>
                <div class="col-6 justify-content-center" id='input1' style="padding-right:10px;">
                    <div class="row justify-content-center">
                        <h4>Région A</h4>
                    </div>
                    <div class="row justify-content-center">
                        <h6> Jeune </h6>
                        <div style="border: solid 2px #000;">
                            {{form_widget(formExp.Test12)}} 
                        </div>
                        <h6> Âgés </h6>
                    </div>
                </div>
                <div class="col-6 " id="input2" style='background-color:#d5ab9c'>
                    <div class="row justify-content-center">
                        <h4>Région B</h4>
                    </div>
                    <div class="row justify-content-center">
                        <h6> Jeune </h6>
                        <div style="border: solid 2px #000;">
                            {{form_widget(formExp.Test21)}} 
                        </div>
                        <h6> Âgés </h6>
                    </div>
                </div>
            </div>
        </div>

        <div id='rectangles' class='row justify-content-center' style='padding-right: 25px; padding-left: 25px;'>
            <div id='area1' style='flex-direction: column;' class='col-3'>
                <p id='percent1'> 25 % </p>
                <svg width="75%" height="100%" style='padding: 5px;' >
                    <rect width="100%" height="25%"  id='rect1' style="fill:#e6e696" />
                </svg>
                <h5> Région A - Jeune </h5>
            </div>
            <div id='area2' style='flex-direction: column;' class='col-3'>
                <p id='percent2'> 25 % </p>
                <svg width="75%" height="100%" style='padding: 5px;'>
                    <rect width="100%" height="25%"  id='rect2' style="fill:#e6e696" />
                </svg>
                <h5> Région A - Âgés </h5>
            </div>
            <div id='area3' style='flex-direction: column;' class='col-3'>
                <p id='percent3'> 25 % </p>
                <svg width="75%" height="100%" style='padding: 5px;'>
                    <rect width="100%" height="25%"  id='rect3' style="fill:#d5ab9c" />
                </svg>
                <h5> Région B - Jeune </h5>
            </div>
            <div id='area4' style='flex-direction: column;' class='col-3'>
                <p id='percent4'> 25 % </p>
                <svg width="75%" height="100%" style='padding: 5px;'>
                    <rect width="100%" height="25%"  id='rect4' style="fill:#d5ab9c" />
                </svg>
                <h5> Région B - Âgés </h5>
            </div>
        </div>
        <div id='button-submit' class="row justify-content-center" style="padding-top: 100px;">
            <button type='submit' class="btn btn-primary" > Soumettre</button>
        </div>
                {{form_end(formExp)}}
    </div>

    <div id='col1-display' class="col-sm-12 col-md-4 1">
        <div class="card" style='margin:2px;'>
            <div class="card-header" style="background-color: #e6e696">
                Région A - Jeune 
            </div>
            <ul class="list-group list-group-flush" >
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'>  
                            <p style='font-size: 0.9em'>
                                Test journaliers / cumulé(s):
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                            {{ testhier1 }} {% if evo_test1 %} ⬈ {% elseif evo_test1 == false %} ⬊ {% endif %} / {{testcumule1}}
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'> 
                            <p style='font-size: 0.9em'>
                                Cas journalier(s) / cumulé(s) : 
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                               {{newP1}} {% if evo_positif1 %} ⬈ {% elseif evo_positif1 == false %} ⬊ {% endif %} / {{cas_cumule1}} 
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'> 
                            <p style='font-size: 0.9em; '> 
                                Taux de positivité : 
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                                {{positivite1}} {% if evo_pos1 %} ⬈ {% elseif evo_pos1 == false %} ⬊ {% endif %} 
                            </p>
                        </li>
                                {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                        {% if acc %}
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'>  
                            <p style='font-size: 0.9em'>
                                Indice d'accélération : 
                            <p style='font-size: 2.6em;font-weight: bold;'>
                                {{acc2}}
                            <p>
                        </li>
                        {% endif %}
                </ul>
            
        </div>
        <div class="card" style='margin:2px;'>
            <div class="card-header" style="background-color: #e6e696">
                Région A - Âgés 
            </div>
            <ul class="list-group list-group-flush" >
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'>  
                            <p style='font-size: 0.9em'>
                                Test journaliers / cumulé(s):
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                            {{ testhier2 }} {% if evo_test2 %} ⬈ {% elseif evo_test2 == false %} ⬊ {% endif %} / {{testcumule2}}
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'> 
                            <p style='font-size: 0.9em'>
                                Cas journalier(s) / cumulé(s) : 
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                               {{newP2}} {% if evo_positif2 %} ⬈ {% elseif evo_positif2 == false %} ⬊ {% endif %} / {{cas_cumule2}} 
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'> 
                            <p style='font-size: 0.9em; '> 
                                Taux de positivité : 
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                                {{positivite2}} {% if evo_pos2 %} ⬈ {% elseif evo_pos2 == false %} ⬊ {% endif %} 
                            </p>
                        </li>
                                {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                        {% if acc %}
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'>  
                            <p style='font-size: 0.9em'>
                                Indice d'accélération : 
                            <p style='font-size: 2.6em;font-weight: bold;'>
                                {{acc2}}
                            <p>
                        </li>
                        {% endif %}
                </ul>
        </div>
    </div>
    <div id='col2-display' class="col-sm-12 col-md-4" style="flex-direction: column;align-items: space-around;">
        <div class="card" style='margin:2px;'>
            <div class="card-header" style="background-color: #d5ab9c">
                Région B - Jeune 
            </div>
            <ul class="list-group list-group-flush" >
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'>  
                            <p style='font-size: 0.9em'>
                                Test journaliers / cumulé(s):
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                            {{ testhier3 }} {% if evo_test3 %} ⬈ {% elseif evo_test3 == false %} ⬊ {% endif %} / {{testcumule3}}
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'> 
                            <p style='font-size: 0.9em'>
                                Cas journalier(s) / cumulé(s) : 
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                               {{newP3}} {% if evo_positif3 %} ⬈ {% elseif evo_positif3 == false %} ⬊ {% endif %} / {{cas_cumule3}} 
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'> 
                            <p style='font-size: 0.9em; '> 
                                Taux de positivité : 
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                                {{positivite3}} {% if evo_pos3 %} ⬈ {% elseif evo_pos3 == false %} ⬊ {% endif %} 
                            </p>
                        </li>
                                {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                        {% if acc %}
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'>  
                            <p style='font-size: 0.9em'>
                                Indice d'accélération : 
                            <p style='font-size: 2.6em;font-weight: bold;'>
                                {{acc3}}
                            <p>
                        </li>
                        {% endif %}
                </ul>
        </div>
        <div class="card" style='margin:2px;'>
            <div class="card-header" style="background-color: #d5ab9c">
                Région B - Âgés 
            </div>
            <ul class="list-group list-group-flush" >
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'>  
                            <p style='font-size: 0.9em'>
                                Test journaliers / cumulé(s):
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                            {{ testhier4 }} {% if evo_test4 %} ⬈ {% elseif evo_test4 == false %} ⬊ {% endif %} / {{testcumule4}}
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'> 
                            <p style='font-size: 0.9em'>
                                Cas journalier(s) / cumulé(s) : 
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                               {{newP4}} {% if evo_positif4 %} ⬈ {% elseif evo_positif4 == false %} ⬊ {% endif %} / {{cas_cumule4}} 
                            </p>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'> 
                            <p style='font-size: 0.9em; '> 
                                Taux de positivité : 
                            </p>
                            <p style='font-size: 2.6em;font-weight: bold;'>
                                {{positivite4}} {% if evo_pos4 %} ⬈ {% elseif evo_pos4 == false %} ⬊ {% endif %} 
                            </p>
                        </li>
                                {# Ici il faudrait indiquer l'influence du form sur le nombre de test #}

                        {% if acc %}
                        <li class="list-group-item d-flex align-items-center justify-content-around" style='margin-bottom: -2.6em;'>  
                            <p style='font-size: 0.9em'>
                                Indice d'accélération : 
                            <p style='font-size: 2.6em;font-weight: bold;'>
                                {{acc4}}
                            <p>
                        </li>
                        {% endif %}
                </ul>
            </div>
    </div>
    <div id='instruction_bouton' style='position: absolute;top: 2%;right: 5%; '> {#  ajuster en haut à droite  #}
        <button type="button" class="btn btn-primary" href="#">Instruction </button>
    </div>
</div>



{% endblock %}

{% block script %} 
<script>

  // On initialise les sélection des élèments car ceux ci seront permanents 
  rect1 = document.getElementById('rect1');
  rect2 = document.getElementById('rect2');
  rect3 = document.getElementById('rect3');
  rect4 = document.getElementById('rect4');
  console.log(rect1, rect2, rect3, rect4);
  pourcent1 = document.getElementById('percent1');
  pourcent2 = document.getElementById('percent2');
  pourcent3 = document.getElementById('percent3');
  pourcent4 = document.getElementById('percent4');


  sliderregions = document.getElementById('form_Test11');
  sliderregion1 = document.getElementById('form_Test12');
  sliderregion2 = document.getElementById('form_Test21');

  
  function actualisationvalue (event){
      sliderregions = document.getElementById('form_Test11');

      // on récupère la valeur de chaque slider 
      valueregions = sliderregions.value ;
      valueregion1 = sliderregion1.value;
      valueregion2 = sliderregion2.value;


      // On calcule ce que ce la représente pour les rectangles 
      region11 = (100- valueregions) * (100-valueregion1) / 10000;
      region12 = (100- valueregions) *valueregion1/ 10000;
      region21 = valueregions * (100-valueregion2 )/ 10000;
      region22 = valueregions * valueregion2 / 10000;

      region11 = (Math.round(region11*100) ).toString();
      region12 = (Math.round(region12*100) ).toString();
      region21 = (Math.round(region21*100) ).toString();
      region22 = (Math.round(region22*100) ).toString();

      console.log(region11);
      console.log(region12);
      console.log(region21);
      console.log(region22);

      rect1.style.height = region11 + '%' ; 
      rect2.style.height = region12 + '%' ; 
      rect3.style.height = region21 + '%' ; 
      rect4.style.height = region22 + '%' ; 

      pourcent1.innerHTML = region11 + '%' ;
      pourcent2.innerHTML = region12 + '%' ;
      pourcent3.innerHTML = region21 + '%' ;
      pourcent4.innerHTML = region22 + '%' ;
  }

  sliderregions.onchange = actualisationvalue ;
  sliderregion1.onchange = actualisationvalue ; 
  sliderregion2.onchange = actualisationvalue ; 
</script>

{% endblock %}