{% extends 'base.html.twig' %}

{% block title %}Résultat des expériences {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1>
Voilà les expériences qui ont été faites et leur résultat  : 
</h1>
    {% for exp in resume %}
        <h2>Expérience n°{{exp.id}}</h2>

        <h3> Beta : {{exp.beta}} , Pi : {{exp.pi}} , Mu : {{exp.mu}} , proportion initiale : {{exp.proportioninitiale}}
        
        <button href="">Plus de détails ...</button>
    {% endfor %}
{% endblock %}