{% extends 'base.html.twig' %}


{% block title %} Résultat des expériences {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Résumé des expériences déjà menées</h5>
    <p class="card-text"> Il y a actuellement {{nmbr_exp}} expréiences effectués, merci beaucoup ! </p>
  </div>
  <div class="card-footer text-muted">
    Bonne journée ! 
  </div>
</div>

<div class="d-flex flex-wrap">

    {% for exp in resume %}
   
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Expérience n°{{exp.id}}</h5>
                <p class="card-text">Caractéristiques globales de l'épidémie : </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">&Beta; = {{exp.r0}} </li>
                <li class="list-group-item">&Pi; = {{exp.pi}}</li>
                <li class="list-group-item">&Mu; = {{exp.mu}}</li>
                <li class="list-group-item"> Proportion d'infecté initiale : {{exp.i0}}</li>

            </ul>
            <div class="card-body">
                <a href='/result/{{exp.id}}' class="card-link">Plus de détails ...</a>
            </div>
        </div>
</div>
    {% endfor %}
{% endblock %}